@model IEnumerable<UnepProject.Models.StaffExamplesofProjects>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitleAndLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelofResponsibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BriefDescriptionOfRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexNumber_staff)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitleAndLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelofResponsibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BriefDescriptionOfRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndexNumber_staff)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
